
.Background{
    -fx-alignment: center;
    -fx-background-size: 900 705;
}


.Button1{
    fx-alignment: center;
    font-size: 24;
    fx-cursor: hand;
}

.Button{
    -fx-cursor: hand;
    -fx-font-size: 14pt;
    -fx-font-fill: #ffffff;
    -fx-alignment: center;
}