
.Window{
    -fx-alignment: center;
    -fx-background-size: 900 705;
}


.FirstSceneButton{
    -fx-alignment: CENTER;
    -fx-font-size: 24px;

    -fx-cursor: HAND;
     -fx-effect: innershadow(gaussian, #c29300, 10 , 0.0 , 0.0, 0.0);

    -fx-pref-height: 57.0;
    -fx-pref-width: 131.0;
}

.Scene{
    -fx-alignment: CENTER;
    -fx-background-color: #f9c22d;

    -fx-pref-height: 550.0;
    -fx-pref-width: 500.0;
}


.Button{
    -fx-alignment: CENTER;

    -fx-background-color: #4b636e;

    -fx-effect: innershadow(gaussian, #c29300, 10 , 0.0 , 0.0, 0.0);
    -fx-cursor: HAND;

    -fx-font-size: 14px;
    -fx-text-alignment: CENTER;
    -fx-text-fill: #ffffff;

    -fx-pref-height: 25;
    -fx-pref-width: 105;
}

.CheckBox{
    -fx-text-fill: #4a626d;
    -fx-font-size: 14px;
}

.InsertionField{
    -fx-pref-height: 25;
    -fx-pref-width: 220;
    -fx-effect: innershadow(gaussian, #c29300, 10 , 0.0 , 0.0, 0.0);
}

.Label{
    -fx-font-size: 14px;
    -fx-text-fill:  #4a626d;
}

.GridWPC{
    -fx-cursor: HAND;
    -fx-background-color: BLACK;
    -fx-hgap: 5.0;
    -fx-vgap: 5.0;
    -fx-pref-height: 266.0;
    -fx-pref-width: 386.0;
    -fx-effect: dropshadow(gaussian, #c29300, 10 , 0.0 , 0.0, 0.0);
    -fx-padding: 5.0 5.0 5.0 5.0;
}

.Cell{
    -fx-background-color: #ffffff;
    -fx-pref-height: 200;
    -fx-pref-width: 200;
}

.Favours{
    -fx-fill: #ffffff;
    -fx-stroke: BLACK;
    -fx-stroke-type: INSIDE;
}